DB_USER=root
DB_PASSWORD=password
DB_NAME=db

DATABASE_URL=postgresql+asyncpg://root:password@localhost:5432/db

ALLOWED_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173","http://localhost:3000","http://127.0.0.1:3000"]

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
# jwt cookies secure is HTTPS only (set false for local environment)
JWT_COOKIE_SECURE=False 

# Mail (SMTP)
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM=no-reply@example.com
MAIL_FROM_NAME=Fasti Kit
MAIL_PORT=587
MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
